@font-face {
  font-family: "FuturaPT";
  font-display: swap;
  src: url("../fonts/FuturaPT-Heavy.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "FuturaPT";
  font-display: swap;
  src: url("../fonts/FuturaPT-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "FuturaPT";
  font-display: swap;
  src: url("../fonts/FuturaPT-Demi.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "FuturaPT";
  font-display: swap;
  src: url("../fonts/FuturaPT-Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "FuturaPT";
  font-display: swap;
  src: url("../fonts/FuturaPT-Book.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "FuturaPT";
  font-display: swap;
  src: url("../fonts/FuturaPT-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?h7lkbl");
  src: url("../fonts/icomoon.eot?h7lkbl#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff?h7lkbl") format("woff"), url("../fonts/icomoon.svg?h7lkbl#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.--relative {
  position: relative;
}

.full-height {
  height: 100%;
}

.default-icon img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

body.active {
  overflow: hidden;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'FuturaPT', sans-serif;
  color: #333333;
  font-weight: 400;
  vertical-align: baseline;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

body {
  position: relative;
  background: #ffffff;
  color: #333333;
  font-family: 'FuturaPT', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul,
nav {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.--semibold {
  font-weight: 600;
}

.--regular {
  font-weight: 400;
}

.--medium {
  font-weight: 500;
}

.--bold {
  font-weight: 700;
}

.--uppercase {
  text-transform: uppercase;
}

.heading-1 {
  font-size: 60px;
  font-size: -webkit-calc(40px + (60 - 40) * ((100vw - 300px) / (1900 - 300)));
  font-size: -moz-calc(40px + (60 - 40) * ((100vw - 300px) / (1900 - 300)));
  font-size: calc(40px + (60 - 40) * ((100vw - 300px) / (1900 - 300)));
  line-height: 1.07;
}

.heading-2 {
  font-size: 50px;
  font-size: -webkit-calc(28px + (50 - 28) * ((100vw - 300px) / (1900 - 300)));
  font-size: -moz-calc(28px + (50 - 28) * ((100vw - 300px) / (1900 - 300)));
  font-size: calc(28px + (50 - 28) * ((100vw - 300px) / (1900 - 300)));
  line-height: 1.33;
}

.heading-3 {
  font-size: 42px;
  font-size: -webkit-calc(24px + (42 - 24) * ((100vw - 300px) / (1900 - 300)));
  font-size: -moz-calc(24px + (42 - 24) * ((100vw - 300px) / (1900 - 300)));
  font-size: calc(24px + (42 - 24) * ((100vw - 300px) / (1900 - 300)));
  line-height: 1.16;
}

.heading-3 {
  font-size: 24px;
  font-size: -webkit-calc(18px + (24 - 18) * ((100vw - 300px) / (1900 - 300)));
  font-size: -moz-calc(18px + (24 - 18) * ((100vw - 300px) / (1900 - 300)));
  font-size: calc(18px + (24 - 18) * ((100vw - 300px) / (1900 - 300)));
  line-height: 1.1;
  font-weight: 700;
}

.heading-4 {
  font-size: 36px;
  font-size: -webkit-calc(16px + (36 - 16) * ((100vw - 300px) / (1900 - 300)));
  font-size: -moz-calc(16px + (36 - 16) * ((100vw - 300px) / (1900 - 300)));
  font-size: calc(16px + (36 - 16) * ((100vw - 300px) / (1900 - 300)));
  line-height: 1.33;
}

.heading-5 {
  font-size: 24px;
  font-size: -webkit-calc(14px + (24 - 14) * ((100vw - 300px) / (1900 - 300)));
  font-size: -moz-calc(14px + (24 - 14) * ((100vw - 300px) / (1900 - 300)));
  font-size: calc(14px + (24 - 14) * ((100vw - 300px) / (1900 - 300)));
  line-height: 1.33;
}

.heading-5 {
  font-size: 16px;
  font-size: -webkit-calc(14px + (16 - 14) * ((100vw - 300px) / (1900 - 300)));
  font-size: -moz-calc(14px + (16 - 14) * ((100vw - 300px) / (1900 - 300)));
  font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1900 - 300)));
  line-height: 1.33;
}

.section-heading {
  font-weight: 900;
  font-size: 56px;
  font-size: -webkit-calc(36px + (56 - 36) * ((100vw - 300px) / (1900 - 300)));
  font-size: -moz-calc(36px + (56 - 36) * ((100vw - 300px) / (1900 - 300)));
  font-size: calc(36px + (56 - 36) * ((100vw - 300px) / (1900 - 300)));
  line-height: 1;
}

.icon-icon-facebook:before {
  content: "\e900";
  color: #5c7abb;
}

.icon-icon-user:before {
  content: "\e901";
  color: #fff;
}

.icon-icon-cart:before {
  content: "\e902";
  color: #f19659;
}

.icon-icon-phone:before {
  content: "\e903";
  color: #ec8f79;
}

.icon-icon-instagram:before {
  content: "\e904";
}

.container {
  max-width: 1180px;
  margin: auto;
  padding: 0 15px;
}

.container-fluid {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -20px;
}

.m-row {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
}

.d-flex {
  display: flex;
  flex-flow: row wrap;
}

.m-auto {
  display: block;
  margin: auto;
}

.m-0 {
  margin: 0;
}

.p-0 {
  padding: 0;
}

.w-100 {
  width: 100%;
}

.align-self-middle {
  align-self: center;
}

.align-self-end {
  align-self: flex-end;
}

.align-center {
  justify-content: center;
}

.align-spaced {
  justify-content: space-around;
}

.align-middle {
  align-items: center;
}

.align-justify {
  justify-content: space-between;
}

.align-right {
  justify-content: flex-end;
}

.align-left {
  justify-content: flex-start;
}

.align-end {
  align-items: flex-end;
}

.align-start {
  align-items: flex-start;
}

.align-self-bottom {
  align-self: flex-end;
}

.align-content-justify {
  align-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.col-xs-1 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 8.33333%;
  -ms-flex: 0 0 8.33333%;
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
  padding: 0 20px;
}

.col-xs-2 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 16.66667%;
  -ms-flex: 0 0 16.66667%;
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
  padding: 0 20px;
}

.col-xs-3 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25.0%;
  -ms-flex: 0 0 25.0%;
  flex: 0 0 25.0%;
  max-width: 25.0%;
  padding: 0 20px;
}

.col-xs-4 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 33.33333%;
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
  padding: 0 20px;
}

.col-xs-5 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 41.66666%;
  -ms-flex: 0 0 41.66666%;
  flex: 0 0 41.66666%;
  max-width: 41.66666%;
  padding: 0 20px;
}

.col-xs-6 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50.0%;
  -ms-flex: 0 0 50.0%;
  flex: 0 0 50.0%;
  max-width: 50.0%;
  padding: 0 20px;
}

.col-xs-7 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 58.33333%;
  -ms-flex: 0 0 58.33333%;
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
  padding: 0 20px;
}

.col-xs-8 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 66.66666%;
  -ms-flex: 0 0 66.66666%;
  flex: 0 0 66.66666%;
  max-width: 66.66666%;
  padding: 0 20px;
}

.col-xs-9 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 75.0%;
  -ms-flex: 0 0 75.0%;
  flex: 0 0 75.0%;
  max-width: 75.0%;
  padding: 0 20px;
}

.col-xs-10 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 83.33333%;
  -ms-flex: 0 0 83.33333%;
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
  padding: 0 20px;
}

.col-xs-11 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 91.66666%;
  -ms-flex: 0 0 91.66666%;
  flex: 0 0 91.66666%;
  max-width: 91.66666%;
  padding: 0 20px;
}

.col-xs-12 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100.0%;
  -ms-flex: 0 0 100.0%;
  flex: 0 0 100.0%;
  max-width: 100.0%;
  padding: 0 20px;
}

/* small phones grid*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  width: 100%;
  height: 104px;
}

.header-top {
  background: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  padding: 0 125px;
  display: flex;
  align-items: center;
  z-index: 998;
}

.header-left {
  position: fixed;
  left: 0;
  top: 0;
  width: 86px;
  height: fit-content;
  background: #F4C73A;
  box-shadow: 0px 4px 17px rgba(89, 37, 3, 0.26);
  border-radius: 0 0 10px 10px;
  z-index: 999;
}

.header-logo {
  z-index: 2;
  display: flex;
  height: 104px;
  width: 86px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-logo img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  width: 68px;
}

.header-schedule {
  color: #ffffff;
  text-align: center;
  letter-spacing: 1px;
}

.header-schedule span {
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 1px;
}

.header-schedule p {
  color: #ffffff;
  letter-spacing: 1px;
}

.header-cart {
  position: relative;
  cursor: pointer;
}

.header-cart .cart-counter {
  box-shadow: 0px 0px 5px #EC8F79;
  width: 26px;
  height: 26px;
  border-radius: 100%;
  color: #EC8F79;
  position: absolute;
  bottom: -7px;
  right: -7px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-cart.active i {
  background: transparent;
}

.header-cart.active i:before {
  color: #ffffff;
}

.header-phone {
  margin-right: 40px;
  display: grid;
  align-items: center;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 60px 1fr;
}

.header-phone i {
  grid-row: 1/3;
  grid-column: 1/2;
}

.header-phone a:first-child {
  grid-row: 1/2;
  grid-column: 2/3;
}

.header-phone a:last-child {
  grid-row: 2/3;
  grid-column: 2/3;
}

.header-phone a {
  font-size: 12px;
  color: #ffffff;
  text-decoration: none;
  position: relative;
  width: fit-content;
}

.header-phone a:before {
  content: '';
  background: currentColor;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0%;
  height: 1px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.header-phone a:hover:before {
  width: 100%;
  opacity: 1;
}

body {
  height: 200vh;
}

.navbar {
  margin: 0 50px 0 auto;
}

.menu {
  display: flex;
}

.menu-item {
  margin: 0 16px;
}

.menu__link {
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 1px;
  position: relative;
}

.menu__link:before {
  content: '';
  background: currentColor;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.menu__link:hover:before {
  width: 100%;
  opacity: 1;
}

.icon-icon-cart,
.icon-icon-phone {
  width: 46px;
  height: 46px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: 2px solid #fff;
}

.categories-menu {
  margin: 70px 0 50px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.categories-menu__link {
  padding: 15px;
  border-radius: 12px 0px 0px 12px;
  text-decoration: none;
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  overflow: hidden;
}

.categories-menu__link:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #F2BB4C;
  transform: translate(80px, 0);
  z-index: -1;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.categories-menu__link:hover:before {
  transform: translate(0, 0);
}

.categories-menu__link:hover img {
  transform: translate(0, -5px);
}

.categories-menu__link:hover span {
  transform: translate(0, -5px);
  opacity: 1;
  visibility: visible;
}

.categories-menu__link img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  margin-bottom: 4px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.categories-menu__inner {
  width: 50px;
  height: 50px;
  display: flex;
  border-radius: 10px;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
  background: #ffffff;
  box-shadow: 0px 0px 14px #FFC3B5;
}

.categories-menu__inner span {
  font-size: 10px;
  letter-spacing: 0.5px;
  color: #EC8F79;
  opacity: 0;
  visibility: hidden;
  height: 0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.login {
  display: flex;
  width: 100%;
  justify-content: center;
  text-decoration: none;
  font-size: 22px;
  margin-bottom: 50px;
}

@media (min-width: 576px) {
  .col-sm-1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.33333%;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
    padding: 0 20px;
  }

  .col-sm-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.66667%;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
    padding: 0 20px;
  }

  .col-sm-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25.0%;
    -ms-flex: 0 0 25.0%;
    flex: 0 0 25.0%;
    max-width: 25.0%;
    padding: 0 20px;
  }

  .col-sm-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33333%;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    padding: 0 20px;
  }

  .col-sm-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.66666%;
    -ms-flex: 0 0 41.66666%;
    flex: 0 0 41.66666%;
    max-width: 41.66666%;
    padding: 0 20px;
  }

  .col-sm-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50.0%;
    -ms-flex: 0 0 50.0%;
    flex: 0 0 50.0%;
    max-width: 50.0%;
    padding: 0 20px;
  }

  .col-sm-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.33333%;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
    padding: 0 20px;
  }

  .col-sm-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.66666%;
    -ms-flex: 0 0 66.66666%;
    flex: 0 0 66.66666%;
    max-width: 66.66666%;
    padding: 0 20px;
  }

  .col-sm-9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75.0%;
    -ms-flex: 0 0 75.0%;
    flex: 0 0 75.0%;
    max-width: 75.0%;
    padding: 0 20px;
  }

  .col-sm-10 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.33333%;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
    padding: 0 20px;
  }

  .col-sm-11 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.66666%;
    -ms-flex: 0 0 91.66666%;
    flex: 0 0 91.66666%;
    max-width: 91.66666%;
    padding: 0 20px;
  }

  .col-sm-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100.0%;
    -ms-flex: 0 0 100.0%;
    flex: 0 0 100.0%;
    max-width: 100.0%;
    padding: 0 20px;
  }
}

@media (min-width: 768px) {
  .col-md-1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.33333%;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
    padding: 0 20px;
  }

  .col-md-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.66667%;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
    padding: 0 20px;
  }

  .col-md-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25.0%;
    -ms-flex: 0 0 25.0%;
    flex: 0 0 25.0%;
    max-width: 25.0%;
    padding: 0 20px;
  }

  .col-md-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33333%;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    padding: 0 20px;
  }

  .col-md-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.66666%;
    -ms-flex: 0 0 41.66666%;
    flex: 0 0 41.66666%;
    max-width: 41.66666%;
    padding: 0 20px;
  }

  .col-md-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50.0%;
    -ms-flex: 0 0 50.0%;
    flex: 0 0 50.0%;
    max-width: 50.0%;
    padding: 0 20px;
  }

  .col-md-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.33333%;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
    padding: 0 20px;
  }

  .col-md-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.66666%;
    -ms-flex: 0 0 66.66666%;
    flex: 0 0 66.66666%;
    max-width: 66.66666%;
    padding: 0 20px;
  }

  .col-md-9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75.0%;
    -ms-flex: 0 0 75.0%;
    flex: 0 0 75.0%;
    max-width: 75.0%;
    padding: 0 20px;
  }

  .col-md-10 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.33333%;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
    padding: 0 20px;
  }

  .col-md-11 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.66666%;
    -ms-flex: 0 0 91.66666%;
    flex: 0 0 91.66666%;
    max-width: 91.66666%;
    padding: 0 20px;
  }

  .col-md-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100.0%;
    -ms-flex: 0 0 100.0%;
    flex: 0 0 100.0%;
    max-width: 100.0%;
    padding: 0 20px;
  }
}

@media (min-width: 991px) {
  .hidden-lg {
    display: none;
  }
}

@media (min-width: 992px) {
  .col-lg-1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.33333%;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
    padding: 0 20px;
  }

  .col-lg-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.66667%;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
    padding: 0 20px;
  }

  .col-lg-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25.0%;
    -ms-flex: 0 0 25.0%;
    flex: 0 0 25.0%;
    max-width: 25.0%;
    padding: 0 20px;
  }

  .col-lg-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33333%;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    padding: 0 20px;
  }

  .col-lg-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.66666%;
    -ms-flex: 0 0 41.66666%;
    flex: 0 0 41.66666%;
    max-width: 41.66666%;
    padding: 0 20px;
  }

  .col-lg-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50.0%;
    -ms-flex: 0 0 50.0%;
    flex: 0 0 50.0%;
    max-width: 50.0%;
    padding: 0 20px;
  }

  .col-lg-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.33333%;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
    padding: 0 20px;
  }

  .col-lg-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.66666%;
    -ms-flex: 0 0 66.66666%;
    flex: 0 0 66.66666%;
    max-width: 66.66666%;
    padding: 0 20px;
  }

  .col-lg-9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75.0%;
    -ms-flex: 0 0 75.0%;
    flex: 0 0 75.0%;
    max-width: 75.0%;
    padding: 0 20px;
  }

  .col-lg-10 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.33333%;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
    padding: 0 20px;
  }

  .col-lg-11 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.66666%;
    -ms-flex: 0 0 91.66666%;
    flex: 0 0 91.66666%;
    max-width: 91.66666%;
    padding: 0 20px;
  }

  .col-lg-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100.0%;
    -ms-flex: 0 0 100.0%;
    flex: 0 0 100.0%;
    max-width: 100.0%;
    padding: 0 20px;
  }
}

@media (min-width: 1200px) {
  .col-xl-1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.33333%;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
    padding: 0 20px;
  }

  .col-xl-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.66667%;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
    padding: 0 20px;
  }

  .col-xl-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25.0%;
    -ms-flex: 0 0 25.0%;
    flex: 0 0 25.0%;
    max-width: 25.0%;
    padding: 0 20px;
  }

  .col-xl-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33333%;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    padding: 0 20px;
  }

  .col-xl-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.66666%;
    -ms-flex: 0 0 41.66666%;
    flex: 0 0 41.66666%;
    max-width: 41.66666%;
    padding: 0 20px;
  }

  .col-xl-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50.0%;
    -ms-flex: 0 0 50.0%;
    flex: 0 0 50.0%;
    max-width: 50.0%;
    padding: 0 20px;
  }

  .col-xl-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.33333%;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
    padding: 0 20px;
  }

  .col-xl-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.66666%;
    -ms-flex: 0 0 66.66666%;
    flex: 0 0 66.66666%;
    max-width: 66.66666%;
    padding: 0 20px;
  }

  .col-xl-9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75.0%;
    -ms-flex: 0 0 75.0%;
    flex: 0 0 75.0%;
    max-width: 75.0%;
    padding: 0 20px;
  }

  .col-xl-10 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.33333%;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
    padding: 0 20px;
  }

  .col-xl-11 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.66666%;
    -ms-flex: 0 0 91.66666%;
    flex: 0 0 91.66666%;
    max-width: 91.66666%;
    padding: 0 20px;
  }

  .col-xl-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100.0%;
    -ms-flex: 0 0 100.0%;
    flex: 0 0 100.0%;
    max-width: 100.0%;
    padding: 0 20px;
  }
}

@media (min-width: 1800px) {
  .heading-1 {
    font-size: 80px;
    font-size: -webkit-calc(50px + (80 - 50) * ((100vw - 300px) / (1900 - 300)));
    font-size: -moz-calc(50px + (80 - 50) * ((100vw - 300px) / (1900 - 300)));
    font-size: calc(50px + (80 - 50) * ((100vw - 300px) / (1900 - 300)));
  }

  .heading-2 {
    font-size: 62px;
    font-size: -webkit-calc(34px + (62 - 34) * ((100vw - 300px) / (1900 - 300)));
    font-size: -moz-calc(34px + (62 - 34) * ((100vw - 300px) / (1900 - 300)));
    font-size: calc(34px + (62 - 34) * ((100vw - 300px) / (1900 - 300)));
  }

  .heading-3 {
    font-size: 54px;
    font-size: -webkit-calc(28px + (54 - 28) * ((100vw - 300px) / (1900 - 300)));
    font-size: -moz-calc(28px + (54 - 28) * ((100vw - 300px) / (1900 - 300)));
    font-size: calc(28px + (54 - 28) * ((100vw - 300px) / (1900 - 300)));
  }

  .heading-3 {
    font-size: 33px;
  }
}

@media (max-width: 360px) {
  .col-exs-1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.33333%;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
    padding: 0 20px;
  }

  .col-exs-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.66667%;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
    padding: 0 20px;
  }

  .col-exs-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25.0%;
    -ms-flex: 0 0 25.0%;
    flex: 0 0 25.0%;
    max-width: 25.0%;
    padding: 0 20px;
  }

  .col-exs-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33333%;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    padding: 0 20px;
  }

  .col-exs-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.66666%;
    -ms-flex: 0 0 41.66666%;
    flex: 0 0 41.66666%;
    max-width: 41.66666%;
    padding: 0 20px;
  }

  .col-exs-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50.0%;
    -ms-flex: 0 0 50.0%;
    flex: 0 0 50.0%;
    max-width: 50.0%;
    padding: 0 20px;
  }

  .col-exs-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.33333%;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
    padding: 0 20px;
  }

  .col-exs-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.66666%;
    -ms-flex: 0 0 66.66666%;
    flex: 0 0 66.66666%;
    max-width: 66.66666%;
    padding: 0 20px;
  }

  .col-exs-9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75.0%;
    -ms-flex: 0 0 75.0%;
    flex: 0 0 75.0%;
    max-width: 75.0%;
    padding: 0 20px;
  }

  .col-exs-10 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.33333%;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
    padding: 0 20px;
  }

  .col-exs-11 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.66666%;
    -ms-flex: 0 0 91.66666%;
    flex: 0 0 91.66666%;
    max-width: 91.66666%;
    padding: 0 20px;
  }

  .col-exs-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100.0%;
    -ms-flex: 0 0 100.0%;
    flex: 0 0 100.0%;
    max-width: 100.0%;
    padding: 0 20px;
  }
}