@import "../abstracts/mixins";
@import "../abstracts/variables";

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  width: 100%;
  height: 104px;
  z-index: 997;
  &.home-page-header {
    position: absolute;
    & .header-top {
      background: transparent;
    }
  }
  &-top {
    background: url('../img/header-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding: 0 125px;
    display: flex;
    align-items: center;
    z-index: 998;
  }
  &-left {
    position: fixed;
    left: 0;
    top: 0;
    width: 86px;
    height: fit-content;
    background: $yellowColor;
    box-shadow: 0px 4px 17px rgba(89, 37, 3, 0.26);
    border-radius: 0 0 10px 10px;
    z-index: 999;
  }
  &-logo {
    z-index: 2;
    display: flex;
    height: 104px;
    width: 86px;
    display: flex;
    align-items: center;
    justify-content: center;
    & img {
      @include defaultIcon(contain);
      width: 68px;
    }
  }
  &-schedule {
    color: $whiteColor;
    text-align: center;
    letter-spacing: 1px;
    & span {
      color: $whiteColor;
      font-weight: 700;
      letter-spacing: 1px;
    }
    & p {
      color: $whiteColor;
      letter-spacing: 1px;
    }
  }
  &-cart {
    position: relative;
    cursor: pointer;
    & .cart-counter {
      box-shadow: 0px 0px 5px #EC8F79;
      width: 26px;
      height: 26px;
      border-radius: 100%;
      color: $pinkColor;
      position: absolute;
      bottom: -7px;
      right: -7px;
      background: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &.active {
      & i {
        background: transparent;
        &:before {
          color: $whiteColor;
        }
      }
    }
  }
  &-phone {
    margin-right: 40px;
    display: grid;
    align-items: center;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 60px 1fr;
    & i {
      grid-row: 1/3;
      grid-column: 1/2;
      &:hover {
        box-shadow: none;
      }
    }
    & a:first-child {
      grid-row: 1/2;
      grid-column: 2/3;
    }
    & a:last-child {
      grid-row: 2/3;
      grid-column: 2/3;
    }
    & a {
      font-size: 12px;
      color: $whiteColor;
      text-decoration: none;
      position: relative;
      width: fit-content;
      &:before {
        content: '';
        background: currentColor;
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 0%;
        height: 1px;
        @include transition(.3);
      }
      &:hover {
        &:before {
          width: 100%;
          opacity: 1;
        }
      }
    }
  }
}
.navbar {
  margin: 0 50px 0 auto;
}

.menu {
  display: flex;
  &-item {
    margin: 0 16px;
  }
  &__link {
    color: $whiteColor;
    text-decoration: none;
    letter-spacing: 1px;
    position: relative;
    &:before {
      content: '';
      background: currentColor;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 2px;
      @include transition(.3);
    }
    &:hover {
      &:before {
        width: 100%;
        opacity: 1;
      }
    }
  }
}

.circle-icon {
  width: 46px;
  height: 46px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: 2px solid #fff;
  @include transition(.3);
  &:hover {
    box-shadow: 0 0 5px rgba(255,255,255,.7);
  }
}

.categories {
  &-menu {
    margin: 70px 0 50px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    &__link {
      padding: 15px;
      border-radius: 12px 0px 0px 12px;
      text-decoration: none;
      position: relative;
      @include transition(.3);
      overflow: hidden;
      &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: $orangeColor;
        transform: translate(80px,0);
        z-index: -1;
        @include transition(.3);
      }
      &:hover {
        &:before {
          transform: translate(0,0);
        }
        & img {
          transform: translate(0,-5px);
        }
        & span {
          transform: translate(0,-5px);
          opacity: 1;
          visibility: visible;
        }
      }
      & img {
        width: 30px;
        height: 30px;
        object-fit: contain;
        margin-bottom: 4px;
        @include transition(.3);
      }
    }
    &__inner {
      width: 50px;
      height: 50px;
      display: flex;
      border-radius: 10px;
      align-items: center;
      text-align: center;
      justify-content: center;
      flex-direction: column;
      text-decoration: none;
      background: $whiteColor;
      box-shadow: 0px 0px 14px #FFC3B5;
      & span {
        font-size: 10px;
        letter-spacing: 0.5px;
        color: $pinkColor;
        opacity: 0;
        visibility: hidden;
        height: 0;
        @include transition(.3);
      }
    }
  }
}

.login {
  display: flex;
  width: 100%;
  justify-content: center;
  text-decoration: none;
  font-size: 22px;
  margin-bottom: 50px;
}