@import "../abstracts/mixins";
@import "../abstracts/variables";

.btn {
  font-family: inherit;
  &-primary {

  }
  &-secondary {
    
  }
  &-shadow {
    width: fit-content;
    text-decoration: none;
    color: #F4B54E;
    background: $whiteColor;
    padding: 15px 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    border-radius: 12px;
    box-shadow: 4px 4px 0px 1px #e93f80;
    @include transition(.3);
    &:hover {
      background: transparent;
      background: #e93f80;
      box-shadow: 4px 4px 0px 1px $whiteColor;
      color: #fff;
    }
  }
  &-green {
    background: $greenColor;
    width: fit-content;
    color: $whiteColor;
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 14px;
    line-height: 32px;
    padding: 0 26px;
  }
}