@import "../abstracts/mixins";
@import "../abstracts/variables";


.modal-callback {
  & .modal__content {
    width: 650px;
  }
}


.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  outline: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-overflow-scrolling: touch;
  &.open {
    display: block;
  }
  &__heading {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2;
    text-align: center;
    color: #FF9E2A;
    margin-bottom: 42px;
    @media (max-width: $breakpoint-md) {
      font-size: 20px;
      margin-bottom: 30px;
    }
  }
  &__subheading {
    font-size: 20px;
    margin-bottom: 50px;
    text-align: center;
  }
  &__close {
    &--cross {
      position: absolute;
      top: 38px;
      right: 38px;
      cursor: pointer;
      @media (max-width: $breakpoint-md) {
        top: 20px;
        right: 20px;
        & img {
          width: 20px;
          height: 20px;
          margin: auto;
        }
      }
    }
  }
  &__body {
    position: absolute;
    display: flex;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    align-items: center;
    overflow-y: hidden;
  }
  &__content {
    position: relative;
    overflow: auto;
    margin: auto;
    width: 550px;
    max-height: 760px;
    padding: 69px 85px 50px 85px;
    overflow-y: auto;
    height: fit-content;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    border-radius: 0;
    background: #FFFFFF;
    border-radius: 10px;
    @media (min-height: 1000px) {
      max-height: unset;
    }
    @media (max-width: $breakpoint-md) {
      width: calc(100% - 40px);
      padding: 60px 40px 30px 40px;
    }
    & .form-submit {
      display: flex;
      justify-content: center;
      & button, & a {
        width: fit-content;
        height: 58px;
        font-weight: 700;
        font-size: 24px;
        padding: 0 54px;
        @media (max-width: $breakpoint-md) {
          padding: 0 20px;
          font-size: 14px;
          height: 40px;
        }
      }
    }
    & .form-group {
      margin-bottom: 30px;
    }
    & .form-control {
      border: none;
      border-radius: 0;
      border-bottom: 2px solid #EEEEEE;
      font-size: 20px;
      @media (max-width: $breakpoint-md) {
        font-size: 12px;
      }
    }
    &::-webkit-scrollbar-track, .select-items::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      border-radius: 0;
      background-color: rgba(180, 152, 102, .25);
    }

    &::-webkit-scrollbar, .select-items::-webkit-scrollbar {
      width: 5px;
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb, .select-items::-webkit-scrollbar-thumb {
      border-radius: 0;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #fff;
    }
  }
  &__socials {
    margin-bottom: 30px;
    .socials__item {
      height: 58px;
      margin-bottom: 18px;
      border-radius: 14px;
      color: $whiteColor;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      text-decoration: none;
      font-size: 20px;
      @include transition(.3);
      @media (max-width: $breakpoint-md) {
        font-size: 12px;
        height: 39px;
        & img {
          width: 22px;
          height: 22px;
          object-fit: contain;
        }
      }
      & img {
        margin-left: 34px;
      }
      &.google-icon {
        background: #FF9E2A;
        &:hover {
          background: #ec9227;
        }
      }
      &.facebook-icon {
        background: #1976D2;
        &:hover {
          background: #1668b9;
        }
      }
    }
  }
}

.reset-password-container {
  display: flex;
  justify-content: center;
  margin: 40px 0;
  @media (max-width: $breakpoint-md) {
    margin: 25px 0;     
  }
}
.modal-btn-link {
  border: none;
  font-size: 20px;
  line-height: 1.4;
  color: #FF9E2A;
  background: none;
  cursor: pointer;
  position: relative;
  padding: 0;
  @media (max-width: $breakpoint-md) {
    font-size: 12px;     
  }
  &:before {
    content: '';
    background: #FF9E2A;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    opacity: 0;
    @include transition(.3);
  }
  &:hover {
    &:before {
      width: 100%;
      opacity: 1;
    }
  }
}
.login-helper {
  font-size: 20px;
  line-height: 1.4;
  color: #B9B9B9;
  display: flex;
  justify-content: center;
  & button, & a {
    margin-left: 8px;
  }
  @media (max-width: $breakpoint-md) {
    font-size: 12px;
    & button, & a {
      font-size: 12px;
    }
  }
}

.modal-showcases {
  display: flex;
  flex-direction: column;
  & a, & button {
    border: none;
    margin-bottom: 20px;
    cursor: pointer;
  }
}

.modal-register {
  & .modal__socials {
    margin: 40px 0 50px 0;
    @media (max-width: $breakpoint-md) {
      margin: 30px 0;
    }
  }
}

.modal-reset-password {
  .modal__heading {
    margin-bottom: 20px;
  }
  .modal__subheading {
    @media (max-width: $breakpoint-md) {
      font-size: 12px;   
      margin-bottom: 26px;
    }
  }
}

.modal-reset-password-popup {
  .modal__content {
    @media (max-width: $breakpoint-md) {
      padding: 69px 53px 50px 53px;
    }
  }
  .form-submit {
    margin-bottom: 0;
  }
  .modal__subheading {
    @media (max-width: $breakpoint-md) {
      font-size: 12px;
    }
  }
  & .modal__heading {
    margin-bottom: 12px;
  }
  & .modal__content {
    padding: 69px 65px 50px 65px;
  }
}

.modal-sorry-popup {
  .modal__content {
    background-image: url('../img/sorry-message-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    @media (max-width: $breakpoint-md) {
      padding: 40px; 
    }
  }
  .modal__heading {
    font-weight: 700;
    font-size: 40px;
    line-height: 1;
    color: $heavyPink;
    position: relative;
    margin-bottom: 5px;
    @media (max-width: $breakpoint-md) {
      font-size: 30px;
    }
    &:before {
      content: attr(data-title);
      position: absolute;
      top: -3px;
      left: -3px;
      width: 100%;
      color: #fff;
      @media (max-width: $breakpoint-md) {
        top: -1px;
        left: -1px;
      }
    }
  }
  .modal__subheading {
    font-size: 20px;
    color: $whiteColor;
    margin-bottom: 48px;
    @media (max-width: $breakpoint-md) {
      font-size: 14px; 
      margin-bottom: 22px;
    }
  }
  .sorry__message {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    & span {
      font-size: 31px;
      color: $whiteColor;
      @media (max-width: $breakpoint-md) {
        font-size: 16px;
      }
    }
    & strong {
      color: $whiteColor;
    }
  }
}
